[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "npm run build"
  publish = "build/client"
  
[build.environment]
  NODE_VERSION = "20"

[dev]
  command = "npm run dev"
  port = 5173